In [1]:
# Your libraries here
import re
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# tells matplotlib to embed plots within the notebook
%matplotlib inline

In [3]:
# change encoding bcs utf-8 does not work
df = pd.read_csv("HOBO/Group3-Mid.csv", encoding="iso-8859-9")
display(df)

df2= pd.read_excel("CALERA/G3-OO-HAND.xlsx")
display(df2)

df3= pd.read_excel("CUBE/Group 3-Cube.xlsx")
display(df3)

df4= pd.read_excel("Relative Humidity.xlsx")
display(df4)

df5= pd.read_excel("Water property_heat of vaporisation.xlsx")
display(df5)

df6= pd.read_excel("Dry air properties_P=93.85 kPa.xlsx")
display(df6)

          Date & Time  T_air (°C)  T_globe (°C)  Air_speed (m/s)
0      3/14/2025 9:15      28.731        28.995         0.028590
1      3/14/2025 9:15      28.731        28.997         0.000239
2      3/14/2025 9:15      28.731        28.997         0.000162
3      3/14/2025 9:15      28.732        28.997         0.000162
4      3/14/2025 9:15      28.732        28.997         0.000162
...               ...         ...           ...              ...
7196  3/14/2025 11:14      19.884        20.405         0.091410
7197  3/14/2025 11:14      19.882        20.405         0.138889
7198  3/14/2025 11:14      19.879        20.403         0.135120
7199  3/14/2025 11:14      19.877        20.403         0.112538
7200  3/14/2025 11:15      19.874        20.403         0.063934

[7201 rows x 4 columns]

                 Date & Time  Heat Flux (W/m2)  T_sk (°C)  T_core (°C)
0    2025-03-14 09:15:00.000         46.796185     31.677       37.000
1    2025-03-14 09:15:01.000         46.796185     31.681       37.000
2    2025-03-14 09:15:02.000         46.796185     31.683       37.000
3    2025-03-14 09:15:03.010         46.796185     31.687       37.000
4    2025-03-14 09:15:04.015         46.796185     31.689       37.000
...                      ...               ...        ...          ...
7160 2025-03-14 11:14:55.795        100.981242     29.093       37.305
7161 2025-03-14 11:14:56.800        100.981242     29.097       37.305
7162 2025-03-14 11:14:57.805        100.981242     29.097       37.305
7163 2025-03-14 11:14:58.810        100.981242     29.097       37.305
7164 2025-03-14 11:14:59.815        100.981242     29.099       37.305

[7165 rows x 4 columns]

,DD-MM-YYYY,HH:MM:SS,Mean Radiant Temperature (*C),UP LW IRRAD (*C),NORTH LW IRRAD (*C),EAST LW IRRAD (*C),SOUTH LW IRRAD (*C),WEST LW IRRAD (*C),DOWN LW IRRAD (*C)
0,14-03-2025,09:15:00,29.58,29.15,29.85,30.16,30.04,29.31,28.97
1,14-03-2025,09:15:01,29.57,29.17,29.88,30.15,30.03,29.29,28.90
2,14-03-2025,09:15:02,29.54,29.15,29.85,30.11,29.93,29.29,28.89
3,14-03-2025,09:15:04,29.56,29.15,29.85,30.16,29.93,29.39,28.85
4,14-03-2025,09:15:05,29.56,29.23,29.83,30.14,29.93,29.31,28.91
...,...,...,...,...,...,...,...,...,...
5368,14-03-2025,11:14:55,22.17,20.82,22.35,21.91,24.51,22.77,20.65
5369,14-03-2025,11:14:56,22.20,20.77,22.37,21.95,24.51,22.95,20.67
5370,14-03-2025,11:14:58,22.18,20.77,22.25,21.85,24.57,22.89,20.73
5371,14-03-2025,11:14:59,22.18,20.77,22.28,21.85,24.63,22.81,20.76
5372,14-03-2025,11:15:00,22.20,20.81,22.23,21.89,24.59,22.89,20.77

               Date Time   RH, %
0    2025-03-14 10:25:19  46.581
1    2025-03-14 10:25:20  46.615
2    2025-03-14 10:25:21  46.647
3    2025-03-14 10:25:22  46.710
4    2025-03-14 10:25:23  46.744
...                  ...     ...
3036 2025-03-14 11:15:55  33.983
3037 2025-03-14 11:15:56  33.983
3038 2025-03-14 11:15:57  33.983
3039 2025-03-14 11:15:58  33.983
3040 2025-03-14 11:15:59  33.983

[3041 rows x 2 columns]

    t_a [oC]  L_v [kJ/kg]
0         15         2465
1         16         2463
2         17         2461
3         18         2458
4         19         2456
5         20         2454
6         21         2451
7         22         2449
8         23         2446
9         24         2444
10        25         2442
11        26         2439
12        27         2437
13        28         2435
14        29         2432
15        30         2430

,T_air,rho,k,alpha,mu *(e-6),Unnamed: 5,nu,cp,C_p
0,[oC],[kg/m3],[W/m*K],[m^2/s],[kg/m*s],NaN,[m^2/s],[kg/m*s],[KJ/(m^3 K)]
1,15,1.135,0.0255,22.33,17.96,0.000018,15.82,1.006,1.142
2,16,1.131,0.02557,22.48,18.01,0.000018,15.92,1.006,1.138
3,17,1.127,0.02565,22.62,18.06,0.000018,16.02,1.006,1.134
4,18,1.123,0.02572,22.76,18.11,0.000018,16.12,1.006,1.13
5,19,1.12,0.0258,22.91,18.16,0.000018,16.22,1.006,1.126
6,20,1.116,0.02587,23.05,18.21,0.000018,16.32,1.006,1.122
7,21,1.112,0.02595,23.2,18.26,0.000018,16.42,1.006,1.119
8,22,1.108,0.02602,23.34,18.3,0.000018,16.52,1.006,1.115
9,23,1.104,0.0261,23.49,18.35,0.000018,16.62,1.006,1.111
10,24,1.101,0.02617,23.63,18.4,0.000018,16.72,1.006,1.107
11,25,1.097,0.02625,23.78,18.45,0.000018,16.82,1.006,1.104
12,26,1.093,0.02632,23.93,18.5,0.000018,16.92,1.006,1.1
13,27,1.09,0.0264,24.07,18.55,0.000019,17.02,1.006,1.096
14,28,1.086,0.02647,24.22,18.59,0.000019,17.12,1.006,1.093
15,29,1.082,0.02654,24.37,18.64,0.000019,17.22,1.006,1.089
16,30,1.079,0.02662,24.52,18.69,0.000019,17.32,1.006,1.086
17,31,1.075,0.02669,24.67,18.74,0.000019,17.43,1.006,1.082
18,32,1.072,0.02677,24.82,18.79,0.000019,17.53,1.006,1.079
19,33,1.068,0.02684,24.96,18.83,0.000019,17.63,1.006,1.075
20,34,1.065,0.02691,25.11,18.88,0.000019,17.73,1.007,1.072
21,35,1.061,0.02699,25.26,18.93,0.000019,17.84,1.007,1.068

In [3]:
# convective res
M = 58.
ta = df["T_air (°C)"]
q_conv_res = 0.0014 * M * (34-ta)
display(q_conv_res)

0       0.427843
1       0.427843
2       0.427843
3       0.427762
4       0.427762
          ...
7196    1.146219
7197    1.146382
7198    1.146625
7199    1.146788
7200    1.147031
Name: T_air (°C), Length: 7201, dtype: float64

In [4]:
# functions
def calculate_f_cl(I_cl):
    """
    Calculates clothing factor (f_cl).
    I_cl: Clothing insulation [clo]
    """
    if I_cl <= 0.5:
        f_cl = 1 + 0.31 * I_cl
    else:
        f_cl = 1.05 + 0.645 * I_cl
    return f_cl

In [5]:
calculate_f_cl(0.38)

1.1178

In [6]:
def calculate_h_conv(v_a):
    if v_a < 0.2:
        return 3.1 
    else:
        return 8.3 * (v_a)**(0.6)

In [7]:
calculate_h_conv(0.23)

3.4364877014334163

In [8]:
def Q_rad(h_rad, f_cl, T_cl, T_mrt):
    """
    Radiative heat loss from the body.
    T_cl, T_mrt: [°C]
    Returns Q_rad in [W/m²]
    """
    return h_rad * f_cl * (T_cl - T_mrt)

In [9]:
Q_rad(5.636, 1.1178, 23.917, 23.5)

2.62706697360001

In [10]:
def Q_conv_skin(h_c, f_cl, T_cl, T_air):
    """
    Convective heat loss from clothing surface.
    Returns Q_conv_skin in [W/m²]
    """
    return h_c * f_cl * (T_cl - T_air)

In [11]:
Q_conv_skin(3.1, 1.1178, 23.917, 25)

-3.752789939999994

In [12]:
def iterate_T_cl(t_skin, t_air, t_mrt, I_cl, v_a, epsilon=0.95, max_iter=100, tol=0.01):
    """

Clothing temperature (T_cl) and h_rad are calculated with iterative solution.

All temperatures [°C], output T_cl [°C], h_rad [W/m2K]
    """
    # Initial Guess
    t_cl = (t_skin + t_air) / 2
    sigma = 5.67e-8  # Stefan-Boltzmann constant
    f_cl = calculate_f_cl(I_cl)
    R_cl = I_cl * 0.155  # [m2K/W]
    f_eff = 0.72 # o The effective radiation area factor f_eff estimated as 0.72 for sitting person

    for i in range(max_iter):

        # calculate h_rad 
        h_rad = 4 * epsilon * sigma * f_eff * (273.15 + ((t_cl + t_mrt) / 2))**3

        # Convective heat transfer coefficient
#        if v_a < 0.2:
#            h_conv = 3.1 
#        else:
#            h_conv = 8.3 * (v_a)**(0.6)
        
        h_conv = calculate_h_conv(v_a)

        # Calculate new T_cl
        # T_cl_new = T_skin - ( (T_skin - T_air) + (T_skin - T_mrt) ) / (1 + f_cl * h_total * R_cl)
        #T_cl_new = T_skin - R_cl * (h_conv * f_cl * (T_cl - T_air) + h_rad * f_cl * (T_cl - T_mrt))

        Q_radi = Q_rad(h_rad, f_cl, t_cl, t_mrt)
        Q_conv = Q_conv_skin(h_conv, f_cl, t_cl, t_air)

        t_cl_new = t_skin - R_cl * (Q_radi + Q_conv)

        # Check error
        if abs(t_cl_new - t_cl) < tol:
            break
        t_cl = t_cl_new

    return t_cl, h_rad, Q_radi, Q_conv

In [13]:
iterate_T_cl(32, 25, 23.5, 0.38, 1.1178, epsilon=0.95, max_iter=100, tol=0.01)

(28.552571722463334, 4.154135428903886, 23.46157931544781, 35.23737233498591)

In [14]:
def Q_conv_resp(M, T_air):
    """
    Convective heat loss via respiration.
    M: metabolic rate [W/m²]
    Returns Q_conv_resp in [W/m²]
    """
    return 0.0014 * M * (34 - T_air)

In [15]:
# convective res
M = 58.2
ta = df["T_air (°C)"]
q_conv_res = Q_conv_resp(M, ta)
display(q_conv_res)

0       0.429318
1       0.429318
2       0.429318
3       0.429237
4       0.429237
          ...
7196    1.150172
7197    1.150335
7198    1.150579
7199    1.150742
7200    1.150986
Name: T_air (°C), Length: 7201, dtype: float64

In [16]:
def find_pressures(t_air, t_skin, rh):
    """
    finds p_v,sat and p_v
    """
    p_v_sat_skin = 611 * np.exp((17.08 * t_skin) / (234.18 + t_skin))  # Pa
    p_v_sat_air = 611 * np.exp((17.08 * t_air) / (234.18 + t_air))  # Pa
    p_v_air = rh * p_v_sat_air

    return p_v_sat_skin / 1000, p_v_air / 1000

def calculate_Q_evap_resp(M, p_air_kPa):
    """
    Evaporative heat loss via respiration
    p_air in [kPa]
    Returns Q_E_resp in W/m²
    """
    return 0.0173 * M * (5.87 - p_air_kPa)


def calculate_Q_evap_skin(w, p_sat_skin, p_air, R_cl, f_cl, h_conv, LR=16.5):
    """
    Evaporative heat loss from the skin surface
    All pressures in Pa
    Returns Q_E_skin in W/m²
    p_v_skin –-> water vapour pressure at the skin (normally
assumed to be saturated water vapour pressure p_v_sat at the
skin temperature t_skin )

    """
    h_e = LR * h_conv
    resistance = R_cl + 1 / (f_cl * h_e)
    return w * (p_sat_skin - p_air) / resistance

In [17]:
h = find_pressures(24.3, 32, 0.48)
display(h)

(4.762101389082458, 1.4609440137226615)

In [18]:
from scipy.interpolate import interp1d
import numpy as np

# calculating L_v for intermediate values
# Sıcaklık ve L_v kolonlarını al
T_vals = df5['t_a [oC]'].values
Lv_vals = df5['L_v [kJ/kg]'].values

# Linear interpolation
Lv_interp_function = interp1d(T_vals, Lv_vals, kind='linear', fill_value='extrapolate')

# main function for L_v
def get_Lv(T):
    """
Returns the latent heat of vaporization (L_v) [kJ/kg] for the specified temperature(s) (°C). 
T can be a scalar or an array.
    """
    return Lv_interp_function(T)

In [19]:
def calculate_t_b(T_sk, T_core, alpha=0.2):
    return alpha * T_sk + (1 - alpha) * T_core

def calculate_M_rsw(T_sk, T_b):
    return 4.7e-5 * (T_b - 36.18) * np.exp((T_sk - 33.7) / 10.7)

def calculate_Q_E_rsw(M_rsw, Lv):
    return M_rsw * Lv  # Lv [kJ/kg], Q [W/m²]

def calculate_Q_E_max(p_v_sk, p_v_a, R_v_cl, f_cl, h_e):
    resistance = R_v_cl + 1 / (f_cl * h_e)
    return (p_v_sk - p_v_a) / resistance

def calculate_w(Q_E_rsw, Q_E_max):
    return 0.06 + Q_E_rsw / Q_E_max

def calculate_Q_E_skin(w, p_v_sk, p_v_a, R_v_cl, f_cl, h_e):
    resistance = R_v_cl + 1 / (f_cl * h_e)
    return w * (p_v_sk - p_v_a) / resistance


# main function
def calculate_all_Q_E_skin(T_sk, T_core, Lv, R_v_cl, f_cl, h_conv, T_air, RH, alpha=0.2):
    """
    All procedure: Q_E_skin calculation (W/m²)
    """
    # 1. Mean body temp
    T_b = calculate_t_b(T_sk, T_core, alpha)

    # 2. Sweat rate
    M_rsw = calculate_M_rsw(T_sk, T_b)

    # 3. Regulatory evaporation
    Q_E_rsw = calculate_Q_E_rsw(M_rsw, Lv)

    # 4. Evaporative transfer coeff
    LR = 16.5  # typical value
    h_e = LR * h_conv

    # 5. Vapor pressures
    p_v_sk, p_v_a = find_pressures(T_air, T_sk, RH)  # kPa

    # 6. Max evaporation
    Q_E_max = calculate_Q_E_max(p_v_sk, p_v_a, R_v_cl, f_cl, h_e)

    # 7. Wettedness
    w = calculate_w(Q_E_rsw, Q_E_max)

    # 8. Final Q_E_skin
    Q_E_skin = calculate_Q_E_skin(w, p_v_sk, p_v_a, R_v_cl, f_cl, h_e)

    return {
        "Q_E_skin": Q_E_skin,
        "w": w,
        "Q_E_rsw": Q_E_rsw,
        "Q_E_max": Q_E_max,
        "M_rsw": M_rsw,
        "T_b": T_b,
        "p_v_sk": p_v_sk,
        "p_v_a": p_v_a,
        "h_e": h_e
    }

In [20]:
calculate_all_Q_E_skin(27, 37, 2430, 15, 1.12, 3.1, 24, 0.37, alpha=0.2)

{'Q_E_skin': -0.062201054131341006,
 'w': -0.37886162309258575,
 'Q_E_rsw': -0.07205178331688436,
 'Q_E_max': 0.1641788197590559,
 'M_rsw': -2.9650939636577926e-05,
 'T_b': 35.0,
 'p_v_sk': 3.57162445735171,
 'p_v_a': 1.1060763108793081,
 'h_e': 51.15}


#################
Until here, we defined the function that we will use. Now, we will write the main function that calculates the real values
#################

In [32]:
# First, we try with one value for all parameters

t_air = df["T_air (°C)"][0]
v_a = df["Air_speed (m/s)"][0]

t_skin = df2["T_sk (°C)"][0]
t_core = df2["T_core (°C)"][0]

t_mrt = df3["Mean Radiant Temperature (*C)"][0]

I_cl = 0.38

f_cl = calculate_f_cl(I_cl)

h_conv = calculate_h_conv(v_a)

M = 58.2

Lv = get_Lv(t_air)

R_v_cl = 0.015

RH = df4["RH, %"][0]/ 100

p_v_sat, p_v_a = find_pressures(t_air, t_skin, RH)

#display(df5)
display(RH)

0.46581000000000006

In [33]:
t_cl, h_rad, Q_radi, Q_conv = iterate_T_cl(t_skin, t_air, t_mrt, I_cl, v_a, epsilon=0.95, max_iter=100, tol=0.01)

In [34]:
print("Radiative heat transfer is ", Q_radi, "W/m2 \nConvective heat loss from the body is ", Q_conv, "W/m2")

Radiative heat transfer is  6.276584500949578 W/m2
Convective heat loss from the body is  7.433868184485932 W/m2

In [35]:
Q_c_resp = Q_conv_resp(M, t_air)

In [36]:
print("Convective heat loss via respiration is", Q_c_resp, "W/m2")

Convective heat loss via respiration is 0.42931811999999986 W/m2

In [37]:
calculate_all_Q_E_skin(t_skin, t_core, Lv, R_v_cl, f_cl, h_conv, t_air, RH, alpha=0.2)

{'Q_E_skin': 5.213698066660849,
 'w': 0.059734763571879845,
 'Q_E_rsw': -0.02315004814297186,
 'Q_E_max': 87.28080191339701,
 'M_rsw': -9.515776690453398e-06,
 'T_b': 35.9354,
 'p_v_sk': 4.675951048655977,
 'p_v_a': 1.8401962226085902,
 'h_e': 51.15}

In [38]:
Q_e_resp = calculate_Q_evap_resp(M, p_v_a)
print("Evaporative heat losses via respiration is ", Q_e_resp, " W/m2")

Evaporative heat losses via respiration is  4.057448231304315  W/m2

In [39]:
display(p_v_a)

1.8401962226085902